{include inc_top.html}
{include inc_left.html}
<div class="layui-body">
	<!--tab标签-->
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this"><a>{$pid_item.name}</a></li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
			<form class="layui-form form-container" action="{:url('content/save')}" method="post">
				<input type="hidden" name="id" value="{$id}" id="id">
				<input type="hidden" name="pid" value="{$pid}" id="pid">
				{if $tree}
				<div class="layui-form-item">
					<label class="layui-form-label">选择所属分类</label>
					<div class="layui-input-block">
						<div id="multiple_select">
							<input type="hidden" name="fid" id="fid" value="">
							<blockquote><span class='add'>＋</span></blockquote>
							<ul>
							{foreach $tree as $k=>$v}
							<li data-value="{$v.id}" data-text="{$v.name}">{$v.html} {$v.name}</li>
							{/foreach}
							</ul>
						</div>
					</div>
				</div>
				{else}
				<input type="hidden" name="fid" value="{$fid}" id="fid">
				{/if}
				{foreach $field_arr as $k=>$v}
				{$v.html}
				{/foreach}
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="*">保存</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{if $tree}
<style type="text/css">
#multiple_select{ position: relative; z-index: 9999;}
#multiple_select blockquote{ margin: 0; padding: 4px; border: #E6E6E6 solid 1px; border-radius: 2px; float: left; width: 100%; padding-bottom: 0;}
#multiple_select blockquote span{ display: block; height: 29px; line-height: 29px; float: left; border: solid 1px #F90; padding:0 7px; margin: 0 4px 4px 0;}
#multiple_select blockquote span:hover{border: solid 1px #F30;}
#multiple_select blockquote span i{color: #F00; padding-right: 5px; cursor: pointer;}
#multiple_select blockquote span i:hover{color: #A00;}
#multiple_select blockquote span.add{ width:29px; padding: 0; line-height: 27px; font-size: 24px; text-align:center; cursor: pointer;background: #F60; border: solid 1px #F30; color: #FFF; }
#multiple_select blockquote span.add:hover{ background: #F30;}
#multiple_select ul{ display: none; width: 100%; padding:10px 1px; position: absolute; left: 0; background: #FFF; border:#CCC solid 1px; height: 300px; overflow: hidden; overflow-y: auto; }
#multiple_select ul li{ padding: 5px 10px; cursor: pointer;}
#multiple_select ul li.isSelect{ color: #DDD; cursor:not-allowed;}
#multiple_select ul li:hover{ background: #F8F8F8;}
</style>
<script type="text/javascript">
function init_mul_select(default_ids){
	var reCreateHtml = function(){
		var add_span = document.createElement('span'),
			box = $('#multiple_select blockquote'),
			value = '';
		add_span.innerHTML = '＋';
		add_span.className = 'add';
		box.html('');
		$('#multiple_select ul li').each(function(){
			if($(this).hasClass('isSelect')){
				value += ','+$(this).data('value');
				var span = document.createElement('span');
				span.innerHTML = '<i data-value="'+$(this).data('value')+'">×</i>'+$(this).data('text');
				box.append(span);
			}
		});
		box.append(add_span);
		value = value.substring(1);
		$('#multiple_select input[id=fid]').val(value);
	};
	if(default_ids!=''){
		var ids_arr = default_ids.split(',');
		$('#multiple_select ul li').each(function(){
			for(var i=0; i<ids_arr.length; i++){
				if($(this).data('value')==ids_arr[i]){
					$(this).addClass('isSelect');
					break;
				}
			}
		});
		reCreateHtml();
	}

	$('body')
	.on('click','#multiple_select ul li',function(){
		if(!$(this).hasClass('isSelect')){
			$(this).addClass('isSelect');
			$('#multiple_select ul').slideUp();
			reCreateHtml();
		}
	})
	.on('click','#multiple_select blockquote span[class=add]',function(){
		var aa = $('#multiple_select blockquote').height();
		$('#multiple_select ul').css('top',aa+10);
		$('#multiple_select ul').slideToggle();
	})
	.on('click','#multiple_select blockquote span i',function(){
		var v = $(this).data('value');
		$('#multiple_select ul li').each(function(){
			if($(this).data('value')==v){
				$(this).removeClass('isSelect');
				reCreateHtml();
				return;
			}
		});
	});
}
$(function(){
	init_mul_select('{$item.fid}');
});
</script>
{/if}
{include inc_foot.html}