{include inc_top.html}
{include inc_left.html}
<div class="layui-body">
	<!--tab标签-->
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">会员中心</li>
			<li> <a href="{:url('user/edit')}">添加会员</a></li>
			<li><a href="{:url('user/user_level')}">会员等级管理</a></li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<table class="layui-table">
					<thead>
					<tr>
						<th class='tc' nowrap><a href="#" name="top_checkbox" data-for="ids">选择</a></th>
						<th>会员等级</th>
						<th>会员名称</th>
						<th>手机号码</th>
						<th>当前金额</th>
						<th>创建时间</th>
						<th>IP</th>
						<th class="tc">操作</th>
					</tr>
					</thead>
					<tbody>
					{foreach $list as $k=>$v}
					<tr>
						<td align="center"><input type="checkbox" name="ids" value="{$v.id}" title="选择"></td>
						<td>{$v.user_level}</td>
						<td>{$v.username}</td>
						<td><a href="{:url('user/edit',['id'=>$v['id']])}" title="修改用户资料">{$v.mobile}</a></td>
						<td><a href="{:url('user/goldlist',['id'=>$v['id']])}" title="查看积分记录">{$v.gold}</a></td>
						<td>{date('Y-m-d H:i:s',$v['create_time'])}</td>
						<td>{$v['last_login_ip']}</td>
						<td nowrap>
							<a href="#" data-userid="{$v.id}" data-usermobile="{$v.mobile}" class="layui-btn layui-btn-normal layui-btn-mini chongzhi">充值</a>
							<a href="#" data-url="{:url('user/delete',['id'=>$v['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
						</td>
					</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
.chongzhi_html{ padding:20px;}
.chongzhi_html td{ padding: 5px; text-align: right;}
</style>

<script type="text/javascript">
layui.use('layer', function(){
	var $ = layui.jquery,
	layer = layui.layer;

	var openPop = function(html){
		layer.open({
			type: 1,
			content: html
		});
	};
	layer.ready(function(){
		$('.chongzhi').click(function(){
			var o=$(this),
				url = "{:url('user/add_gold')}";
			openPop('<div class="chongzhi_html"><form class="layui-form form-container" action="'+url+'" method="post"><table><tr><td>充值给</td><td style="text-align:left;">'+o.data('usermobile')+'<input type="hidden" name="user_id" value="'+o.data('userid')+'"></td></tr><tr><td>充值积分</td><td><input type="number" name="gold" value=""  lay-verify="required" placeholder="请输入积分" class="layui-input"></td></tr><tr><td valign="top">备注</td><td><textarea name="content" placeholder="在此可输入备注信息" class="layui-textarea"></textarea></td></tr><tr><td></td><td style="text-align:left;"><button type="submit" class="layui-btn">确定</button></td></tr></table></form></div>');
		});
	});
});
</script>
{include inc_foot.html}